* {
    padding: 0px;
    margin: 0px;
}

/* .container {
    margin-left: 0px;
}

.container img {
    width: 120px;
    height: 120px;
}

.container p {
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
    color: rgb(185, 60, 60);
}

.navbar-expand-md .navbar-nav .nav-link {
    margin-top: 3px;
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
    background-color: rgb(240, 240, 240);
} */

.title{
    font-size: 20px;
    color: rgb(185, 60, 60);
    margin-top: 0px;
    padding-left: 10px;
}

.nav-custom{
    padding-left: 10px;

}
.nav-item-custom{
    /* color: whitesmoke; */
    text-align: left;
    /* vertical-align: center; */
    height: 50px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.navlink-content{
    margin-bottom: 0px;
    font-size: 19px;
    font-weight: 500;
}