* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.center-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


